<!doctype html>
<html>
	<head>
  		<title>Home page</title>
	</head>
<center>
<body>

	<header>
		<button><a href="/about">About Page</a></button>
		<p>Hacker</p>
	</header>
	
	<img src="/giphy.gif">

	<form action="/process-login" method="POST">
  		<label>Username:</label><br>
  		<input name= "user" type="email"><br>
  		<label>Password:</label><br>
  		<input name= "pass" type="password"><br>
  		<button type="submit">Submit</button>
	</form>

</body>
</center>
</html>
