<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<center>
<body>
	<header><strong>Add new post</strong></header>
	<form action="/new_post1" method="POST">
		<input type="text" name="title" placeholder="title"><br>
		<input type="date" name="date" placeholder="date"><br>
		<input type="text" name="contents" placeholder="contencts"><br>
		<input type="text" name="category" placeholder="category"><br>
		<input type="text" name="author" placeholder="author"><br><br>


		<button type="submit">Submit</button>
	</form>
</body>
</center>
</html>