<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <a href="/home">Home</a>
  <h1>Add</h1>
  <form action="/calculate_add" meathod="POST">
	<label for="first">First number:</label><br>
	<input type="number" id="first" placeholder="first #"> <br>
	+ <br>
	<label for="second">Second number:</label><br>
	<input type="number" id="second" placeholder="Second #">
	<button type="submit">Calculate</button>
  </form>
</body>
</html>


