<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Home page | Online calculatorr</title>
</head>
<body>
  <a href="/add">Add</a>
  <h1>Username</h1>
  <input type="email">
  <h1>Password</h1>
  <input type="password">

</body>
</html>