<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home page, movie app</title>
</head>
<center>
<body>
	<header>Please type in movie category!</header>
	<form method="POST" action="/movie_search">
		<input name="category" type="text" placeholder="Search movies">
		
		<button type="submit">Submit</button>

	</form>
</body>
</center>
</html>